html,
body,
div,
ul,
li,
a,
nav,
header,
strong,
.selected {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 960px;
}

a {
    font-size: 2em;
    color: black;
    font-family: Arial;
    text-decoration: none;
    z-index: 99;
}

li.selected {
    background: rgba(13, 48, 66, 0.5);
    border-radius: 15px;
}

li > a {
    display: inline-block;
    padding: 5px 10px;
}

body header {
    background: color-from;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #002d44), color-stop(100%, #77d1ff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #002d44 0%, #77d1ff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #002d44 0%, #77d1ff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-from', endColorstr='@color-to', GradientType=0);
    /* IE6-8 */
    height: 200px;
}

body header nav {
    padding-top: 50px;
    padding-left: 50px;
}

body header nav ul {
    position: relative;
    list-style-type: none;
}

body header nav ul li {
    display: inline-block;
    z-index: 98;
}

body header nav ul li:hover {
    background: rgba(13, 48, 66, 0.3);
    border-radius: 15px;
}

body header nav ul li > ul {
    position: relative;
    display: none;
}

body header nav ul li > ul li {
    margin-top: -5px;
    z-index: 1;
}

body header nav ul li ul > li:hover {
    background: rgba(13, 48, 66, 0.5);
    border-radius: 15px;
    position: relative;
}

body header nav ul li ul > li > a {
    z-index: 100;
}

body header nav ul li:hover > ul {
    display: block;
    position: absolute;
    left: 0;
}

body header nav ul li ul > li > ul {
    display: none;
    position: absolute;
    margin-top: -5px;
    border-radius: 15px;
    padding: 20px;
    background: #ffffff;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3ZDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #ffffff 0%, #7db9e8 100%, #ffffff 100%, #77d1ff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #7db9e8), color-stop(100%, #ffffff), color-stop(100%, #77d1ff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #7db9e8 100%, #ffffff 100%, #77d1ff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #7db9e8 100%, #ffffff 100%, #77d1ff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #7db9e8 100%, #ffffff 100%, #77d1ff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #7db9e8 100%, #ffffff 100%, #77d1ff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#77d1ff', GradientType=0);
    /* IE6-8 */
}

body header nav ul li ul > li > ul li {
    display: block;
    width: 335px;
    left: 0;
    border-bottom: 1px solid black;
}

body header nav ul li ul > li > ul li:last-of-type {
    border: none;
}