body,
html,
div,
ul,
li,
a,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
  font-size: 16px;
}
body #wrapper {
  width: 464px;
  margin: 205px 50px;
}
body #wrapper ul {
  list-style-type: none;
}
body #wrapper ul li {
  display: inline-block;
  border: 1px solid black;
  margin-right: -5px;
  padding: 5px 15px;
  background: #aaffef;
  background: -moz-linear-gradient(top, #aaffef 0%, #13ffd2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaffef), color-stop(100%, #13ffd2));
  background: -webkit-linear-gradient(top, #aaffef 0%, #13ffd2 100%);
  background: -o-linear-gradient(top, #aaffef 0%, #13ffd2 100%);
  background: -ms-linear-gradient(top, #aaffef 0%, #13ffd2 100%);
  background: linear-gradient(to bottom, #aaffef 0%, #13ffd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaffef', endColorstr='#13ffd2', GradientType=0);
}
body #wrapper ul li:hover {
  background: #00ddb3;
  border-top: 1px solid #00ddb3;
}
body #wrapper ul li:hover div {
  position: absolute;
  display: block;
  width: 462px;
  height: 148px;
  background: #aaffef;
  top: 43px;
  left: 50px;
  text-align: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0;
  padding-top: 10px;
}
body #wrapper ul li:hover div ul li {
  color: #0094ff;
  margin-bottom: 6px;
  display: block;
  text-align: right;
}
body #wrapper ul li:hover div ul li span:last-of-type {
  width: 330px;
  text-align: right;
  display: inline-block;
  border-bottom: 1px solid black;
  margin-left: auto;
}
body #wrapper ul li:hover div ul li:last-of-type {
  color: #0094ff;
  margin-bottom: 6px;
  display: block;
}
body #wrapper ul li:hover div ul li:last-of-type span:last-of-type {
  width: 300px;
  text-align: right;
  display: inline-block;
  border: none;
  margin-left: auto;
}
body #wrapper ul li a {
  text-decoration: none;
  color: #4ba1ff;
}
body #wrapper ul li div {
  display: none;
}
body #wrapper ul > li > div > ul {
  margin: 0;
  width: 456px;
}
body #wrapper ul > li > div > ul > li {
  border: 0;
  background: none;
}
body .user {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 15px 4px 5px;
}
body .me-item .user:before {
  content: url('/task1/imgs/me.png');
  margin-right: 5px;
}
body .other-item .user:before {
  content: url('/task1/imgs/male.png');
}
